/*


FlexBox
- Es un modulo de CSS3
-- Permite alinear elementos entre si en diferentes direcciones y ordenes
-- Su proposito es darle al contenedor la posibilidad de expandirse


CONCEPTS

-- Flex container: contenedor donde usamos flexbox
-- Flex items: elementos del contenedor
-- Flex axes: dirección en la que se presentan los elementos 


Propieties



CONTAINER

-- Flex directions: row | row-reverse | column | column-reverse
-- flex-wrap: nowrap: | wrap | wrap-reverse (ajustarse en el contenedor en caso de que no se tenga el suficiente espacio)
-- Justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly
--- space around coloca el mismo espacio a cada lado del componente  (teniendo dos espacios entre componentes aledaoños)
--- space evenly coloca el mismo espacio a cada lado 
--- flex-end
---flex-start
-- aling-items: stretch | flex-start | flex-end  | center | baseline
--- flex-start
--- flex-end
--- strecth: estira los demas elementos para que coincidan con la altura
--- baseline: alinea el texto con el resto de los elementos
-- aling-content: stretch | flex-start | flex-end | center |space-between | space-around (alinear elementos en caso que se tenga mas de una fila)


Notes:

--- En column los axes se ajustan, por tal las propiedades también

ITEM

-- aling-self: auto | stretch | flex-start | flex-end | center | baseline
--- baseline:

-- order:<integers> 0 orden de los elementos 
--- Order colocará el elemento en el lugar que le indiquemos mediante un entero
---- Todos los elementos tienen por defecto el cero 

-- flex-grow: 0 | Es exactamento lo mismo que usar flex 
--- Es la capacidad de un elemento para crecer

-- flex-shrink: 0
---- Controla que tanto puede encogerse un elemento
---- tiene como valor inicial 1
-- NOTA
--- Podemos configurar todos las propiedades dentro de flex
    Flex: flex-grow flex-shrink flex-basis | flex: 0 0 300px;
    

-- flex-basis: 0
---- con esta propiedad podemos establecer el ancho de un elementos

*/



/* Test de documento */

.margin{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: red;
    padding: 10px;

    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.item{
    background: orange;
    padding: 40px;
    margin: 30px;
    font-size: 40px;
}