.container {
    background-color: red;
    width: 1000px;
    margin: 30px auto;

    display: grid;




    /* Una nueva función para repetir los tracks */
    grid-template-rows: repeat(2, 150px);


    /* 
    Unidad fracional
    Permite asignar el resto del contenedor a un elemento en grid, dividias en fracciones siendo 1 el total del espacio disponible
    */

    /* grid-template-columns: repeat(2,150px) 1fr; */
    grid-template-columns: repeat(3,1fr);
    /* También podemos usar % para repartir el porcentaje */
    /* grid-template-columns: 50% 1fr 1fr; */

    grid-row-gap: 30px;
    grid-column-gap: 30px;

    /* Grap:
        agrega ancho al valor de los carriles del grid
    */
    gap: 80px;
}

.item{
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.item--1{
    background-color: green;
}

.item--2{
    background-color: yellow;
}

.item--3{
    background-color: blue;
}

.item--4{
    background-color: purple;
}

.item--5{
    background-color: aqua;
}

.item--6{
    background-color: brown;
}

